<div class="navbar">
  <div class="container" >
      <md-nav-bar aria-label="navigation bar" id="navbar" md-selected-nav-item="currentNavItem">
          <md-nav-item md-nav-href="#/user" name="userMap">My Places</md-nav-item>
          <md-nav-item md-nav-href="#/add" name="addPlace">Add a Place</md-nav-item>
          <span flex></span>
          <md-nav-item id="logout" md-nav-click="pc.logout()" name="logout">Logout</md-nav-item>
        </md-nav-bar>
    <!-- <ul>
      <li><a href="#/user">My Places</a></li>
      <li><a href="#/add">Add a Place</a></li>
    </ul> -->
  </div>
</div>

