<div ng-include="'views/partials/nav.html'"></div>

<h1>{{pc.userMap}}'s public map</h1>
</div>
<div>
    <ng-map id="map" zoom="11" center="current">
        <marker ng-repeat="place in pc.markerArray" id="{{place.id}}" icon="{{place.icon}}" position="[{{place.lat}}, {{place.lng}}]"
            title="{{place.title}}" on-click="pc.showInfoWindow(place)"></marker>
        <marker icon="{{place.icon}}" position="current" title="current location" </marker>
            <info-window id="infoWindow">
                <div ng-non-bindable="">
                    <h3>{{pc.placeToShow.type}}:</h3>
                    <h2>{{pc.placeToShow.title}}</h2>
                    <p><span class="detailsTitle">Address:</span> {{pc.placeToShow.address}}</p>
                    <p ng-show="pc.place.website"><span class="detailsTitle">Website:</span> <a ng-href="{{pc.placeToShow.website}}" target="_blank">{{pc.placeToShow.website}}</a></p>      
                    <p><span class="detailsTitle">Notes:</span> {{pc.placeToShow.notes}} </p>                  
                    <p ng-show="pc.place.category"><span class="detailsTitle">Category:</span> {{pc.placeToShow.category}}</p>
                    <p ng-show="pc.place.priceRange"><span class="detailsTitle">Price Range:</span> {{pc.placeToShow.priceRange}}</p>
                </div>
            </info-window>
    </ng-map>
</div>